.headsmall{
  display: flex;
  font-family: 'open sans';
  padding: 50px;
  @include tablet {
    display: flex;
    justify-content: center;

  }
  @include desktop {
     justify-content: flex-start;
  }

}
.headlarge{
  font-family: 'open sans';
  font-weight: normal;
  font-style: normal;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
    /*padding: 30px;*/
    height: 90vh;
  }
  @include tablet {
    flex-direction: row;
  }
}



.logosmall{
  width: 150px;
  height: 150px;
  @include tablet {
   height: 75px;
   width: 75px;

  }
}
.logolarge {
  height: auto;
  width: 100%;
}
